<!DOCTYPE html>
<html>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
    </nav>
    <main>
        <h2>Portfolio</h2>
        <table>
            {% for c in companies %}
            <tr>
                <td>{{ c.name }} ({{ c.symbol }})</td>
                <td>{{ c.exchange }}</td>
                <td>{{ c.description }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>

</html>