h1 {
    font-size: 3em;
    margin-top: 10px;
}

h2 {
    font-size: 1.6em;
    margin: 20px 0px 10px 0px;
}

h3 {
    font-size: 1.2em;
    margin: 10px 0px 5px 0px;
}

p {
    margin: 15px 0px;
}

table {
    border-collapse: collapse;
}

table tr td {
    border: 1px solid black;
    padding: 5px;
}